<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cards</title>
    <link rel="stylesheet" href="cards.css"/>
  </head>
  <body>
    <table id="cards">
      <thead>
	<tr>
	  <th>Image</th>
	  <th>Name</th>
	  <th>Type(s)</th>
	  <th>CMC</th>
	  <th>Qty.</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td class="image">
	    <a href="card?name=Trade+Caravan">
	      <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=3033&type=card">
	    </a>
	  </td>
	  <td class="name">Trade Caravan</td>
	  <td class="types">Creature</td>
	  <td class="cmc">1</td>
	  <td class="qty">18</td>
	</tr>
	<tr>
	  <td class="image">
	    <a href="card?name=Black+Lotus">
	      <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=600&type=card">
	    </a>
	  </td>
	  <td class="name">Black Lotus</td>
	  <td class="types">Artifact</td>
	  <td class="cmc">0</td>
	  <td class="qty">1</td>
	</tr>
	<tr>
	  <td class="image">
	    <a href="card?name=Force+of+Will">
	      <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=159092&type=card">
	    </a>
	  </td>
	  <td class="name">Force of Will</td>
	  <td class="types">Instant</td>
	  <td class="cmc">5</td>
	  <td class="qty">4</td>
	</tr>
      </tbody>
    </table>
  </body>
</html>
